.full-width {
  width: 100%;
}

.thumbnail-section {
  margin-top: 1rem;

  h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1rem;
  }
}

mat-dialog-content {
  min-width: 400px;
}

@media (max-width: 600px) {
  mat-dialog-content {
    min-width: auto;
  }
}
